/*input要素は非表示*/
input {
    display: none;
  }
  /*タブエリアの設定*/
  .tab_area {
    display: flex;
    flex-wrap: wrap;
  }
  /*タブボタン部分*/
  label {
    display: block;
    padding: 0.5em 1em;
    margin-right: 2px;
    border-radius: 10px 10px 0 0;
    background: #e4e4e4;
    float: left;
    cursor: pointer;
    order: -1;
  }
  /*コンテンツ部分*/
  .content {
    display: none;
    width: 100%;
    padding: 1em;
    background: #E7CCE6;
  }
  
  /*フェイドインアニメーションのために透明度を０に*/
  .inner {
    opacity: 0;
  }
  
  /*タブを選択したとき*/
  input:checked + .btn_tab {
    background: #E7CCE6;
  }
  input:checked + .btn_tab + .content {
    display: block;
  }
  
  /*コンテンツをフェイドインするアニメーション*/
  input:checked + .btn_tab + .content .inner {
    animation: fadeIn 1.5s forwards;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }